{% load static %}
{% load matching_filters %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>후기 작성 완료</title>
</head>
<body>
    <div class="tab-container">
        <a href="{% url 'review:review_list_youth' %}" class="tab">후기 작성 전</a>
        <a href="{% url 'review:review_completed_list_youth' %}" class="tab active">후기 작성 완료</a>
    </div>

    {% if completed_reviews %}
        {% for review in completed_reviews %}
            <div class="card">
                <p>작성일 {{ review.created_at|date:"Y.m.d" }}</p>
                <hr>
                <div class="review-info">
                    <img src="{% static 'images/room_default.jpg' %}" alt="방 사진" class="room-image">
                    <div class="senior-info">
                        <h3>{{ review.target_senior.username }} ({{ review.target_senior.age }}세, {% if review.target_senior.gender == 'F' %}여성{% else %}남성{% endif %})</h3>
                        <h3>성향 매칭 점수 {{ review.author|calculate_matching_score_filter:review.target_senior }}점</h3>
                        <p>{{ review.room.address_detailed }}</p>
                        <p>월세 {{ review.room.rent_fee|floatformat:"0" }}/{{ review.room.deposit|floatformat:"0" }}</p>
                        <p>{{ review.target_senior.get_living_type_display }}</p>
                    </div>
                </div>
                <div class="button-group">
                    <button class="view-review-button">작성한 후기 보기</button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>작성된 후기가 없습니다.</p>
    {% endif %}
</body>
</html>