{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신분증 사진 첨부</title>
    <link rel="stylesheet" href="{% static 'users/css/upload_id_card.css' %}">
</head>
<body>
    <h1>신분증 업로드</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label for="id_id_card_image">신분증 이미지:</label>
        {{ form.id_card_image }}
      </div>
      <button type="submit">다음</button>
    </form>
    <script src="{% static 'users/js/upload_id_card.js' %}"></script>
</body>
</html>