<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>기본 정보 입력</title>
</head>
<body>
    <h1>기본 정보 입력</h1>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="id_username">성명:</label>
        {{ form.username }}
      </div>
      <div>
        <label for="id_gender">성별:</label>
        {{ form.gender }}
      </div>
      <div>
        <label for="id_age">나이:</label>
        {{ form.age }}
      </div>
      <div>
        <label for="id_phone_number">전화번호:</label>
        {{ form.phone_number }}
      </div>
      <button type="submit">다음</button>
    </form>
</body>
</html>