{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관심 지역 정보 입력</title>
    <link rel="stylesheet" href="{% static 'users/css/info_youth.css' %}">

</head>
<body>
  <div id="root">
    <div id="app-wrapper">

      <div class="header">
        <a href="/users/user_info/">
          <img src="{% static 'users/images/Vector.png' %}" alt="" class="icon">
        </a>
        <h1>기본 정보</h1>
      </div>

      <div class="progress-wrap" aria-label="진행률">
        <div id="progressBar" class="progress-bar" style="width: 0%;"></div>
      </div>

      <h1 class="num">2/2</h1>
      <h2>어느 지역에서<br>방을 구하고 싶으세요?</h2>
      <h3>선택하신 지역을 기준으로<br>잘 맞는 방을 추천해드려요.</h3>

    <form method="post" id="userInfoForm">
      {% csrf_token %}
      <div>
        <label for="id_interested_province">관심 시/도:</label>
        {{ form.interested_province }}
      </div>
      <div>
        <label for="id_interested_city">관심 시/군/구:</label>
        {{ form.interested_city }}
      </div>
      <div>
        <label for="id_interested_district">관심 읍/면/동:</label>
        {{ form.interested_district }}
      </div>
    </form>

    <button type="submit" id="submitBtn" form="userInfoForm">다음</button>

  </div>
  </div>
  <script src="{% static 'users/js/info_youth.js' %}?v=8"></script>

</body>
</html>